.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.nav-content {
  width: 90%;
  max-width: 1110px;
}

.nav-bar-mobile-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.nav-bar-desktop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 768px) {
  .nav-bar-desktop-container {
    display: none;
  }
}

.header-logo {
  width: 90px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 125px;
  }
}

.nav-bar-mobile-icons {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-mobile-btn {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.nav-link-mobile {
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .nav-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.logout-desktop-btn {
  background-color: #4f46e5;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
