.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  border-radius: 6px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 90%;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 450px;
    flex-shrink: 0;
    padding: 64px 48px 64px 48px;
  }
}

.logo {
  width: 90px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 180px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

.input-label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  line-height: 2.7;
}

.input-filed {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  background-color: transparent;
  border: 1px solid #6366f1;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}

.login-btn {
  height: 40px;
  width: 90%;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 2px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  align-self: flex-start;
  line-height: 1.6;
}
